<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pending list</title>
    <style type="text/css">
        table {
            width: 70vw;
        }

        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
    </style>
</head>
<body>
    <table>
    <tr>
        <th>No</th>
        <th>Date</th>
        <th>Suites</th>
        <th>Machine</th>
        <th>Browser</th>
        <th>Missing</th>
    </tr>
    <!--rows go here-->
    </table>
</body>
</html>