body,html {
    margin:0;
    padding:0;
    background-color: #000000;
    background-image: url("../img/d1_bkg.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

    font-family: 'Roboto';
}

.row {
    height: 98vh;
    width: 98vw;
}

.row_date {
}

.date_right, .date_left {
    height: 2.3vh;
    width: 47.8vw;
    font-size: 15px;
    color: #ffffff;
    margin-left: 0.6vw; margin-right: 0.6vw;
}

.date_left {
    float: left;
    text-align: left;
}

.date_right {
    float: right;
    text-align: right;
}

.title {
    height: 5vh;
    margin:0px;
    padding: 5px;
    color: #ffffff;
    font-size: 40px;
    text-align: center;
    font-family: 'Archivo Black';
}

.chart {
    width: 96.8vw;
    height: 88.5vh;
    margin-left: 0.6vw; margin-right: 0.6vw;
    margin-bottom: 1vh; margin-top: 0.4vh;
    text-align: center;
    border-collapse: collapse;
}

table, th,td {
    border: 1px solid;
    border-color: rgba(255, 255, 255, .3);
    /*border-color: transparent;*/
    color: #ffffff;
    font-size: 18px;
}

p {
    margin: 0px;
    padding: 0px;
}